@import './base.css';

#app {
    margin: 0 auto;
    font-weight: normal;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

@media (hover: hover) {
    a:hover {
        color: #208b95;
    }
}

a:active {
    opacity: 0.6;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0 1rem;
}

@media (max-width: 1280px) {
    .container {
        max-width: 768px;
    }
}

.ant-select-selection-item:hover {
    color: #208B95;
}

.PromoSwiper .swiper-button-prev,
.PromoSwiper .swiper-button-next {
    display: none;
}

.promo-slider-prev.disabled,
.promo-slider-next.disabled{
    opacity: 0.2;
    pointer-events: none;
}

.PromoSwiper .swiper-pagination-bullet {
    background-color: #ffffff;
    width: 50px;
    height: 3px;
    border-radius: 0;
}

.PromoSwiper .swiper-pagination-bullet-active {
    width: 100px;
}